extends ../layout

block content
    .container
        h2 Reports: #{display.title}
        .spacer
        #row-data-table.row
            #div-table.col-md-12
              form(action="#{display.formAction}", method="post")
                .col-md-3
                    .dropdown.dropdown-first
                    h4 Filter By Report
                      button.form-control.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        | Report Type
                        span.caret
                      ul.dropdown-menu.drop-down-modal1(aria-labelledby='dropdownMenu1')
                        li
                            a(href='/api/report/venue') Venues
                        li
                            a(href='/api/report/time') Time
                        li
                            a(href='/api/report/prize') Raffle Prizes
                        li
                            a(href='/api/report/events') Events
                        li
                            a(href='/api/report/entry') Entry Time Average
                        li
                            a(href='/api/report/donor') Donors (Multiple Entry)
                .col-md-3
                    h4 Start Date
                        #datetimepicker1.input-group.date
                            input#startDate.form-control(type='text', name='startTime')
                .col-md-3
                    h4 End Date
                        #datetimepicker2.input-group.date
                            input#endDate.form-control(type='text', name='endTime')
                .col-md-3(style='padding-top:27px')    
                    input.btn-save.btn-primary.btn(type='submit',value='Run')
        table#myTable.table.table-hover.table-striped.table-bordered
            thead
                tr
                    th #
                    th #{display.columnOne}
                    th #{display.columnTwo}
                    th #{display.columnThree}
                    if display.columnFour !== undefined
                        th #{display.columnFour}
                    else
                        th
            tbody
                each item, i in items
                    tr
                        td= i+1
                        td= item.columnOne
                        td= item.columnTwo
                        td= item.columnThree
                        if item.columnFour != null
                        td= item.columnFour
        script(src='/js/reports.js') 